<%- include("header") -%>

<h2>hehe this is about page</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium incidunt nemo veniam soluta rerum architecto, aliquam nam fuga, voluptatibus qui, et placeat at itaque accusamus reiciendis enim earum. Eligendi illum fuga quibusdam debitis ipsa dolor dignissimos magnam modi nobis quod.</p>

<%- include("footer") -%>